<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title> Rasere | {% block title %}{% endblock %}</title>
        <link rel="icon" href="picture/logo/Screenshot_20250323-005806.jpg" type="image/jpg">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="{{ asset('_template/assets/css/main.css') }}">
    </head>
    <body class="accueil" style="background-image: url('{{ asset('_template/background/IMG-20250409-WA0005.jpg') }}'); background-size: contain; background-repeat: no-repeat; background-attachment: fixed; background-position: center;">
        {% block body %}{% endblock %}

        <script src="{{ asset('_template/assets/js/script.js') }}"></script>
    </body>
</html>
